# Python
__pycache--/
*.py[cod]
*.pyo
# venv/env
.env
.venv/
venv/
# SQLite
db.sqlite3
db.sqlite3-*
*.sqlite3
*.sqlite3-*
*.db
*.db-*
# OS/editor
.DS_Store
.idea/
.vscode/
# Tools
mkbug.py
.gitmessage.txt
# Logs
logs/
*.bak
.env.prod
