# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.ruff_cache/

# Environment
.env
.env.*

# SQLite
*.sqlite3
*.db
*.db-journal
*.sqlite-shm
*.sqlite-wal

# Logs & Runtime Data
logs/
instance/
backups/

# Misc
*.pid
*.log
.layout
.gitmessage.txt
.pre-commit-config.yaml

utils/mkbug.py
docs/BUGS.md.bak
*.bak
deploy/config.local.env
.gitattributes
.gitmessage
.pre-commit-config.yaml
